<div class="mx-auto min-h-screen py-6">

    <div class="bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-screen-lg sm:rounded-lg sm:px-10  dark:bg-gray-800 dark:border-gray-700">
      <h6 class="p-4 dark:text-white text-3xl">Sign Up </h6>
    <form [formGroup]="signupForm">

    
      <div class="flex flex-wrap gap-0">
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white ">First Name</label>
        <input formControlName="firstName" type="text" id="input-field-1" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="John">
        <small class="block text-red-600" *ngIf="signupForm.controls['firstName'].dirty && signupForm.hasError('required','firstName')">*First Name is required</small>
      </div>
      <div class=" w-full md:w-1/2 p-4 ">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Last Name</label>
        <input formControlName="lastName" type="text" id="input-field-1" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Doe">
        <small class="block text-red-600" *ngIf="signupForm.controls['lastName'].dirty && signupForm.hasError('required','lastName')">*Last Name is required</small>
      </div>
      <div class="w-full p-4">
       <label for="input-field-1" class="text-gray-600 block dark:text-white">Email</label>
        <input formControlName="username" type="email" id="email-field" class=" w-1/2 border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="john@emp.org">
        <small class="block text-red-600" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">*Username/Email is required</small>
      </div>
      <div class="w-full p-4">
       <label for="input-field-1" class="text-gray-600 block dark:text-white">Password</label>
        <input formControlName="password" type="password" class=" w-1/2 border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="********">
        <small class="block text-red-600" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password is required</small>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Address 1</label>
        <input formControlName="address1" type="text" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Street address">
        <small class="block text-red-600" *ngIf="signupForm.controls['address1'].dirty && signupForm.hasError('required','address1')">*Address 1 is required</small>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Address 2</label>
        <input type="text"  class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Apt/Unit">
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">City</label>
        <input formControlName="city" type="text"  class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="City">
        <small class="block text-red-600" *ngIf="signupForm.controls['city'].dirty && signupForm.hasError('required','city')">*City is required</small>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">State</label>
        <input formControlName="state" type="text" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="State">
        <small class="block text-red-600" *ngIf="signupForm.controls['state'].dirty && signupForm.hasError('required','username')">*State is required</small>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Zipcode</label>
        <input formControlName="zipcode" type="text"  class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="1234">
        <small class="block text-red-600" *ngIf="signupForm.controls['zipcode'].dirty && signupForm.hasError('required','zipcode')">*zipcode is required</small>
      </div>
      <div class=" w-full text-white p-4 ">
        <button class="rounded-md bg-gray-950 p-2" type="submit"> Submit</button>
      </div>
    </div>
  </form>
    </div>
    </div>