<div class="mx-auto min-h-screen py-6">

    <div class="bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-screen-lg sm:rounded-lg sm:px-10  dark:bg-gray-800 dark:border-gray-700">
      <h6 class="p-4 dark:text-white text-3xl">Sign Up </h6>
    <div class="flex flex-wrap gap-0">
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white ">First Name</label>
        <input type="text" id="input-field-1" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="John" required>
      </div>
      <div class=" w-full md:w-1/2 p-4 ">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Last Name</label>
        <input type="text" id="input-field-1" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Doe" required>
      </div>
      <div class="w-full p-4">
       <label for="input-field-1" class="text-gray-600 block dark:text-white">Email</label>
        <input type="email" id="email-field" class=" w-1/2 border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="john@emp.org" required>
      </div>
      <div class="w-full p-4">
       <label for="input-field-1" class="text-gray-600 block dark:text-white">Password</label>
        <input type="password" class=" w-1/2 border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="********" required>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Address 1</label>
        <input type="text" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Street address" required>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Address 2</label>
        <input type="text"  class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="Apt/Unit" required>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">City</label>
        <input type="text"  class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="City" required>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">State</label>
        <input type="text" class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="State" required>
      </div>
      <div class=" w-full md:w-1/2 p-4">
        <label for="input-field-1" class="text-gray-600 block dark:text-white">Zipcode</label>
        <input type="text"  class="border rounded px-4 py-2 focus:outline-none focus:ring focus:border-blue-300" placeholder="1234" required>
      </div>
      <div class=" w-full text-white p-4 ">
        <button class="rounded-md bg-gray-950 p-2" type="submit"> Submit</button>
      </div>
    </div>
    </div>
    </div>