<div class="flex bg-slate-400 gap-1 flex-col min-h-screen">
<div class="bg-gray-200 mx-auto mt-10 mb-6 shadow-xl flex-1 w-3/4 rounded-md sm:max-h-24">
    <div class="text-center py-2">
        <h1>Clock In</h1>
        <h1>7:10:43 PM</h1>
        <button class="rounded-md px-2 py-1 bg-slate-900 text-white">PUNCH</button>
    </div>
</div>
<div class=" w-3/4 h- 1/2 rounded-md bg-gray-200 mx-auto mb-6 shadow-2xl flex-1">
    <h1 class="text-center">Pay Statement</h1>
    <h3 class="px-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, nostrum. Reiciendis quidem sunt nostrum et provident atque maxime. Tempora ratione excepturi vel reiciendis? Voluptatem enim tempore sit aspernatur tempora saepe ex ea laborum dignissimos, possimus ad voluptas non obcaecati, ipsum et consequatur voluptates hic adipisci rem!
        Numquam, sunt ab debitis, aperiam ea culpa laborum aliquid, nam voluptatem dolorem quidem
        optio sint eligendi quaerat esse tenetur sequi deserunt omnis tempora illum exercitationem.
        Sint odit laboriosam recusandae, expedita porro eius inventore neque, maxime quis nesciunt
        in minima aspernatur nobis, quos distinctio! Aliquid in consequatur, eum nulla voluptatibus
        exercitationem fugit ducimus quae itaque nemo incidunt ipsum repudiandae similique, hic 
        labore atque, quod omnis pariatur quos corporis odit illo consequuntur quis optio? Explicabo 
        totam excepturi ab rerum, quasi aut modi vel! At est similique alias officia minus excepturi, 
        eos tempore et beatae! Architecto debitis exercitationem praesentium, et hic ea, cum animi 
        recusandae, provident quisquam odio corrupti odit officiis dolorem temporibus laudantium 
        ipsam id aliquid. Nam rem molestiae doloremque magnam, dolore reiciendis voluptate 
        necessitatibus. Tempore sunt officiis perspiciatis placeat nobis modi, distinctio vel 
        repellendus totam eveniet voluptates rem sequi ipsa aliquid! Repellat, consectetur modi at 
        incidunt eaque odit iste, ad quam quos deserunt maxime quasi!</h3></div>
</div>
