<div class="flex justify-between bg-cool-blue p-3 " *ngIf="isLoggedIn()">
    <div class="flex space-x-4">
      <div class="text-white"><fa-icon class="icon1" [icon]="barIcon"></fa-icon></div>
      <div class="text-white"><fa-icon class="icon2" [icon]="houseIcon" ></fa-icon></div>
      <div class="text-white"><fa-icon class="icon3" [icon]="questionIcon"></fa-icon></div>
    </div>
    <div class="flex space-x-4">
      <div class="text-white"><fa-icon class="icon5" (click) ="handleLogOut()" *ngIf= "isLoggedIn()" [icon]="signOutIcon"></fa-icon></div>
      <div class="text-white"><fa-icon [icon] ="bellIcon"></fa-icon></div>
    </div>
</div>

<router-outlet></router-outlet>



<!-- Middle Gap -->
<!--  <div class="flex-grow"></div> -->

<!-- Right Side -->
